.wrapper-pop-up {
  position: absolute;
  width: 10%;
  height: 11%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #CEE0F2;
}

.pop-up-edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45%;
  width: 100%;
  font-size: 1.2vw;
}