.wrapper-pop-up {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #CEE0F2;
  cursor: pointer;
}

.pop-up-edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  height: 50%;
  width: 100%;
}
