.wrapper-message {
  height: auto;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-message-text {
  height: auto;
  width: auto;
  padding: 10px 10px;
  border: 2px solid #CEE0F2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: whitesmoke;
  opacity: 0.85;
  transition: background-color 1s;
}

.wrapper-nick-message {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper-nick-name {
  font-size: 20px;
  color: grey
}

.text-in-message{
  font-size: 25px;
  white-space: pre-wrap;
}

.wrapper-sticker {
  height: 75px;
  width: 75px;
}

.wrapper-time-in-message{
  width: 50px;
  margin-left: 20px;
}

.time-in-message {
  color:#b8b4b4;
  font-size: 17px;
}
