.wrapper-header {
  height: 40px;
  width: 100%;
  border-bottom: 4px solid #CEE0F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-info-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-header { 
  font-size: 15px; 
}

.icon-chats {
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.header-wrapper-switch-chat {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 160px;
}

.wrapper-button-clear-storage {
  width: 110px;
  height: auto;
  display: flex;
  justify-content: center;
}

.active-chat-button {
  border-bottom: solid 2px #356c8b;
  color: #356c8b;
}

.button-clear-storage {
  border: 3px solid rgb(136, 179, 204);
  border-radius: 15px;
  background-color: #CEE0F2;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

@media (max-device-width: 500px) {
  .button-clear-storage {
    font-size: 10px
  }
  .icon-chats {
    font-size: 13px;
    margin-left: 1px;
  }
}

