.wrapper-header {
  height: 5%;
  width: 100%;
  border-bottom: 4px solid #CEE0F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-info-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.text-header { 
  font-size: 1.5vw; 
}

.icon-chats {
  font-size: 1.5vw;
  cursor: pointer;
}

.header-wrapper-switch-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;
}

.wrapper-button-clear-storage {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
}

.active-chat-button {
  border-bottom: solid 2px #356c8b;
  color: #356c8b;
}

.button-clear-storage {
  height: 5%;
  width: 90%;
  font-size: 1.5vw; 
  border: 3px solid rgb(136, 179, 204);
  border-radius: 15px;
  background-color: #CEE0F2;
  font-size: 1.5vw;
  cursor: pointer;
  outline: none;
}

