.wrapper-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper-header-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;  
}

.main-body {
  border-bottom: 4px solid #CEE0F2;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: repeat;
}

.wrapper-main-body {
  height: auto;
  width: auto;
}

.wrapper-main-body-two {
  padding-top: 15px; 
  padding-left: 20px;
}

.find-message {
  background-color: #79b1e9;
}

.dn {
  display: none;
}