.wrapper-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper-header-body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;  
}

.main-body {
  height: 90%; 
  border-bottom: 4px solid #CEE0F2;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeat;
}

.wrapper-main-body {
  width: 95%;
  height: 90%;
}

.find-message {
  background-color: #79b1e9;
}

.dn {
  display: none;
}
