.wrapper-pop-up-smiles {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 8%;
  right: 0.7%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 3px solid #CEE0F2;
}

.smile-icon {
  height: 15%;
  width: 15%;
  padding-left: 5px;
  cursor: pointer;
}
