.wrapper-pop-up-smiles {
  height: 20%;
  width: 15%;
  position: absolute;
  bottom: 7%;
  right: 0.7%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 3px solid #CEE0F2;
}

.smile-icon {
  height: 15%;
  width: 15%;
  padding-left: 4%;
  transform: scale(1.2); 
  cursor: pointer;
}
