.wrapper-pop-up-smiles {
  height: 15%;
  width: 15%;
  position: absolute;
  bottom: 7%;
  right: 0.7%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid #CEE0F2;
}

.smile-icon {
  zoom: 1.8;
  cursor: pointer;
}
