.wrapper-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.wrapper-icon-footer {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper-icon-for-backgrond-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-footer {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.wrapper-text-area-message {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.text-area-message {
  font-size: 15px;
  width: 95%;
  height: 90%;
  resize: none;
  border: none;
}

.icon-close {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.icon-edit {
  height: 15px;
  width: 15px;
}

.wrapper-icon-edit-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-icon-for-edit {
  height: 100%;
  display: flex;
  flex-direction: column;
}
