.wrapper-autorization {
  height: 100%;
  width:  100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-autorization {
  height: 300px;
  width: 400px;
  background-color: #CEE0F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid #CEE0F2;
  border-radius: 35px;
}

.wrapper-login-password {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title-autorization {
  margin-top: 20px;
  font-size: 1.7vw;
}

.message { 
  height: 30px;
  color: red;
}

.text-autoriztion {
  display: flex;
  align-items: center;
}

.wrapper-login {
  height: 15%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.wrapper-password {
  height: 15%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.input-login {
  width: 70%;
}

.input-password {
  width: 70%;
}

.autorization {
  font-size: 20px;
  cursor: pointer;
  height: 20%;
  width: 20%;
	background-color:#e9e9e9;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid black;
}