.wrapper-aside {
  height: 100%;
  background-color: #CEE0F2;
  border-right: 3px solid rgb(136, 179, 204);
  width: 350px;
  overflow-y: auto;
}

.wrapper-aside-for-button-and-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper-find-message {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-found-message {
  margin-top: 10px;
  height: auto;
  width: 90%;
  display: flex;
  border: 2px solid rgb(136, 179, 204);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: whitesmoke;
  opacity: 0.85;
  cursor: pointer;
}

.wrapper-find-message-nick-name {
  padding-left: 4px;
  padding-bottom: 4px;
}

.wrapper-time {
  padding-top: 2px;
  margin-right: 2px;
  color: #b8b4b4;
  font-size: 14px;
}

.wrapper-aside-for-button-and-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper-search-input-icon {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(136, 179, 204);
}

.wraper-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search {
  width: 250px;
  height: 25px;
  border: 2px solid #CEE0F2;
  background-color: whitesmoke;
  font-size: 10px;
  margin-left: 5px;
}

.icon-search {
  height: 25px
}

.close-icon-search {
  cursor: pointer;
  height: 25px;
}

.wrapper-aside-for-button-and-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper-find-message-nick-name {
  padding-left: 4px;
  padding-bottom: 4px;
}

.wrapper-find-text-message {
  padding-left: 5px;
  font-size: 1vw;
}

.wrapper-find-nick-name {
  padding-left: 5px;
  font-size: 1.2vw;
  color: grey;
}

.wrapper-time {
  padding-top: 2px;
  margin-right: 2px;
  color: #b8b4b4;
  font-size: 1vw;
}
