.wrapper-aside {
  height: 100%;
  width: 20%;
  background-color: #CEE0F2;
  border-right: 2px solid #CEE0F2;
}

.header-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  background-color: #CEE0F2;
}

.list-users {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-list-users {
  width: 90%;
  background-color: #CEE0F2;
  font-size: 1vw;
}

.icon-work-chat {
  font-size: 1.5vw;
  cursor: pointer;
}

.active-chat-button {
  border-bottom: solid 2px rgb(16, 129, 73);
  color: rgb(16, 129, 73);
}

.button-clear-storage {
  height: 150px;
  width: 150px;
}
